.babel-navbar {
  background-color: #2967a6;
  position: relative;
}

.babel-navbar .navbar-brand {
  display: flex ;
  align-items: center;
  gap: 0.4rem;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "Cormorant Garamond", serif; 
}

.babel-navbar__brand img {
  width: 60px;  
  height: 60px;
}

.nav-text {
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  transform: scaleY(0.95);
  color: #ffffff;
}

.nav-text .nav-link {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.nav-text .nav-link:hover,
.nav-text .nav-link:focus {
  color: #f1f5ff;
}
